Magic 271485
Revision Verdi_T-2022.06

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 23 1920 1009 436 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/raid7_2/user12/r2921a01/hw/hw3/1121_hw3/01_RTL/origin_and_scale.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 744600.000000 1474600.000000
cursor 1232500.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 3

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/raid7_2/user12/r2921a01/hw/hw3/1121_hw3/01_RTL/origin_and_scale.fsdb"
addSignal -h 15 /test_origin_and_scale/u_core/i_clk
addSignal -h 15 -holdScope i_rst_n
addSignal -h 15 -UNSIGNED -UDEC /test_origin_and_scale/tests/i[31:0]
addSignal -h 15 /test_origin_and_scale/u_core/o_op_ready
addSignal -h 15 -holdScope i_op_valid
addSignal -h 15 -UNSIGNED -HEX -holdScope i_op_mode[3:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope current_state[4:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope next_state[4:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope channel_window[1:0]
addSignal -h 15 -holdScope decrease_origin_x
addSignal -h 15 -holdScope decrease_origin_y
addSignal -h 15 -holdScope increase_origin_x
addSignal -h 15 -holdScope increase_origin_y
addSignal -h 15 -UNSIGNED -HEX -holdScope origin_x[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope origin_y[3:0]
addSignal -h 15 -holdScope scale_down_channel_window
addSignal -h 15 -holdScope scale_up_channel_window
addGroup "G2"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/raid7_2/user12/r2921a01/hw/hw3/1121_hw3/01_RTL/origin_and_scale.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/test_origin_and_scale"
"/test_origin_and_scale/u_core"

SCOPE_LIST_BEGIN
"/test_origin_and_scale"
"/test_origin_and_scale/tests"
"/test_origin_and_scale/u_core"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


